<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fallout4SaveCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Fallout4SaveCleaner.Properties.Settings>
            <setting name="CleanQuickSaves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanAutoSaves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanNormalSaves" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NumberToPreserve" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MakeBackups" serializeAs="String">
                <value>False</value>
            </setting>
        </Fallout4SaveCleaner.Properties.Settings>
    </userSettings>
</configuration>